# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List some popular libraries used for Data Science
- List Data Visualization Tools

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scipy
4. Matplolib

## Data Science Tools

|Open Source Dev. Environment
|---------------------------
|Anaconda
|R Studio
|Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
expresion = (3*4)+5
print(expresion)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Juan R. Peguero